@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-display: "Public Sans", sans-serif;
  --font-display2: "DM Sans", sans-serif;

  --breakpoint-sm: 600px;
  --breakpoint-md: 728px;
  --breakpoint-lg: 920px;
  /* --breakpoint-xl: 980px; */
  --breakpoint-2xl: 1320px;
  --breakpoint-3xl: 1536px;

  --color-primary-50: "#e0f9f2";
  --color-primary-100: "#c0f2e6";
  --color-primary-200: "#80e6cc";
  --color-primary-300: "#40d9b3";
  --color-primary-400: "#20caa0";
  --color-primary-500: "#20b486";
  --color-primary-600: "#1e9f76";
  --color-primary-700: "#1a8361";
  --color-primary-800: "#15684d";
  --color-primary-900: "#104e3a";
  --color-primary-950: "#082d22";

  --color-red-100: "red";
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding: 0rem;
}

[x-cloak] {
  @apply hidden;
}

.banner-pagination {
  @apply mt-4 flex justify-center;

  .swiper-pagination-bullet {
    @apply !bg-primary-600;
  }
}

.control-label {
  @apply block text-sm/6 font-semibold text-gray-900;
}

.form-control {
  @apply block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600;
}

.btn-primary {
  @apply rounded-md bg-primary-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600;
}
