@import "tailwindcss";

@theme {
  --font-display: "Public Sans", sans-serif;
  --font-display2: "DM Sans", sans-serif;

  --breakpoint-sm: 600px;
  --breakpoint-md: 728px;
  --breakpoint-lg: 920px;
  /* --breakpoint-xl: 980px; */
  --breakpoint-2xl: 1320px;
  --breakpoint-3xl: 1536px;

  --color-primary-50: #ffe5e5;
  --color-primary-100: #ffb8b8;
  --color-primary-200: #ff8a8a;
  --color-primary-300: #ff5c5c;
  --color-primary-400: #ff0000;
  --color-primary-500: #e60000;
  --color-primary-600: #cc0000;
  --color-primary-700: #b30000;
  --color-primary-800: #990000;
  --color-primary-900: #660000;
  --color-primary-950: #330000;

  --color-red-100: "red";
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  padding: 0rem;
}

[x-cloak] {
  @apply hidden;
}

.banner-pagination {
  @apply mt-4 flex justify-center;

  .swiper-pagination-bullet {
    @apply !bg-primary-600;
  }
}

.control-label {
  @apply block text-sm/6 font-semibold text-gray-900;
}

.form-control {
  @apply block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-primary-600;
}

.btn-primary {
  @apply rounded-md bg-primary-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-primary-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-600;
}
