<div class="relative w-full inline-block border border-gray-200 rounded-xl">
  <a href="#">
    <div class="overflow-hidden bg-gray-50 relative rounded-t-xl">
      <img
        class="w-full rounded-xs"
        src="/images/rjs/1.jpg"
        alt="RJ John"
        loading="lazy"
        fetchpriority="low"
      />
    </div>
  </a>
  <div class="p-4">
    <a href="#">
      <h3 class="text-lg/tight font-semibold text-gray-900">RJ John</h3>
    </a>
    <p class="mt-2 text-base/tight text-gray-700">Go john</p>
  </div>
</div>
