<div
  class="relative w-full inline-block border border-gray-200 rounded-xl overflow-hidden transition group"
>
  <a href="#">
    <div class="overflow-hidden bg-gray-50 relative rounded-t-xl">
      <img
        class="w-full rounded-xs transition-transform duration-300 group-hover:scale-110"
        src="/images/rjs/1.jpg"
        alt="Show"
        loading="lazy"
        fetchpriority="low"
      />
    </div>
  </a>
  <div class="p-4">
    <a href="#">
      <h3 class="text-lg/tight font-semibold text-gray-900">
        Morning Melodies
      </h3>
    </a>
    <p class="mt-2 text-base/tight text-gray-700">
      Monday – Friday | 8 AM – 10 AM
    </p>
  </div>
</div>
